<!-- Header -->
<header id="header">
  <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
	<nav class="links">
    </nav>
	<nav class="main">
    <ul>
		  <li class="menu">
		  	<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<section id="menu">
  <!-- Search -->
  <!--
  <section>
	  <form class="search" method="get" action="#">
	    <input type="text" name="query" placeholder="Search" />
		</form>
	</section>
  -->
	<!-- Links -->
	<section>
	  <ul class="links">
	    <li>
		    <a href="/acknowledgement">
				  <h3>Agradecimientos</h3>
				</a>
			</li>
			<li>
				<p>Próximamente más opciones y contenido</p>
			</li>
    </ul>
	</section>
	<!-- Actions -->
  <!--
  <section>
	  <ul class="actions vertical">
	    <li><a href="#" class="button big fit">Log In</a></li>
    </ul>
  </section>
  -->
</section>
